<a href="https://colab.research.google.com/github/suryakappagantu/repo02121990/blob/master/Pandas_Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
# 1.0 Call libraries
import numpy as np
import pandas as pd
import os

In [ ]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series([3,8,1,90,23])

0     3
1     8
2     1
3    90
4    23
dtype: int64

In [ ]:
pd.Series([2.3,4.5,6.7,3.1])

0    2.3
1    4.5
2    6.7
3    3.1
dtype: float64

In [ ]:
r = pd.Series(['a','b','c','d','e'])

In [ ]:
r

0     a
1     b
2     c
3    de
dtype: object

In [ ]:
r[0]

'a'

In [ ]:
r[:3]

0    a
1    b
2    c
dtype: object

In [ ]:
r[1:]

1     b
2     c
3    de
dtype: object

In [ ]:
r

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
r[1:]

1    b
2    c
3    d
4    e
dtype: object

In [ ]:
r[2:]

2    c
3    d
4    e
dtype: object

In [ ]:
r[2:4]

2    c
3    d
dtype: object

In [ ]:
r[1,3]

KeyError: ignored

In [ ]:
r[[1,3]]

1    b
3    d
dtype: object

In [ ]:
r = pd.Series(['a','b','c','d','e','f','g'])

In [ ]:
r [[1,3,4,5]]

1    b
3    d
4    e
5    f
dtype: object

In [ ]:
r [[-2,-3,-4,-6]]

KeyError: ignored

In [ ]:
r[[1,3]:5]

TypeError: ignored

In [ ]:
s =pd.Series(['a','b','c','d','e','f','g'], index = [12,89,3,45,-1,90,800])

In [ ]:
s[-1]

'e'

In [ ]:
s

 12     a
 89     b
 3      c
 45     d
-1      e
 90     f
 800    g
dtype: object

In [ ]:
s.iloc[0]

'a'

In [ ]:
s.iloc[-1]

'g'

In [ ]:
s.loc[-1]

'e'

In [ ]:
r.iloc [[-2,-3,-4,-6]]

5    f
4    e
3    d
1    b
dtype: object

In [ ]:
r

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [ ]:
u =pd.Series(np.arange(10))

In [ ]:
u

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
v =pd.Series(np.arange(0,20,2))

In [ ]:
v

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
u+v

0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
dtype: int64

In [ ]:
u-v

0    0
1   -1
2   -2
3   -3
4   -4
5   -5
6   -6
7   -7
8   -8
9   -9
dtype: int64

In [ ]:
u*v

0      0
1      2
2      8
3     18
4     32
5     50
6     72
7     98
8    128
9    162
dtype: int64

In [ ]:
w = pd.Series([1,2,3], index = ['a','b','c'])
z = pd.Series([10,20,30], index =['a','b','d'])

In [ ]:
w

a    1
b    2
c    3
dtype: int64

In [ ]:
z

a    10
b    20
d    30
dtype: int64

In [ ]:
w+z

a    11.0
b    22.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w -z

a    -9.0
b   -18.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w*z

a    10.0
b    40.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w.dtype

dtype('int64')

In [ ]:
w.size

3

In [ ]:
rng = np.random.default_rng()

In [ ]:
e = rng.random(size= (4,5))

In [ ]:
e

array([[0.05864714, 0.56344726, 0.07607436, 0.08389882, 0.41836535],
       [0.60202448, 0.04535934, 0.50738552, 0.35018008, 0.2097828 ],
       [0.2151246 , 0.24314137, 0.94018052, 0.3079743 , 0.08219751],
       [0.45040718, 0.32472093, 0.26563773, 0.93985312, 0.58019874]])

In [ ]:
e = np.round(e,2)

In [ ]:
e

array([[0.06, 0.56, 0.08, 0.08, 0.42],
       [0.6 , 0.05, 0.51, 0.35, 0.21],
       [0.22, 0.24, 0.94, 0.31, 0.08],
       [0.45, 0.32, 0.27, 0.94, 0.58]])

In [ ]:
pd.DataFrame(e,columns = list('abcde'))

      a     b     c     d     e
0  0.06  0.56  0.08  0.08  0.42
1  0.60  0.05  0.51  0.35  0.21
2  0.22  0.24  0.94  0.31  0.08
3  0.45  0.32  0.27  0.94  0.58

In [ ]:
q = pd.DataFrame(np.arange(18).reshape(6,3),columns =['a','b','c'])

In [ ]:
q

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5  15  16  17

In [ ]:
q = pd.DataFrame(np.arange(18).reshape(6,3),index = [1.1,1.2,1.3,1.4,1.5,1.6], columns =['a','b','c'])

In [ ]:
q.head()

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14

In [ ]:
q.tail()

      a   b   c
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q.iloc[-2:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q.loc[1.5:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q.iloc[1:4, :2]

     a   b
1.2  3   4
1.3  6   7
1.4  9  10

In [ ]:
q.head(3)

     a  b  c
1.1  0  1  2
1.2  3  4  5
1.3  6  7  8

In [ ]:
q.loc[1.1:1.4,:'c']

     a   b   c
1.1  0   1   2
1.2  3   4   5
1.3  6   7   8
1.4  9  10  11

In [ ]:
q.loc[1.2:1.3,:'b']

     a  b
1.2  3  4
1.3  6  7

In [ ]:
q.loc[1.4,'b':'b']

b    10
Name: 1.4, dtype: int64

In [ ]:
q.iloc[3,1]

10

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

Hello Google Drive!

In [ ]:
path = "/gdrive/MyDrive/Colab Notebooks/20220807/delhi_weather_data.zip"

In [ ]:
path

'/gdrive/MyDrive/Colab Notebooks/20220807/delhi_weather_data.zip'

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
weather = pd.read_csv(path)

#Joker
##Joker2
###Joker3
<b>This is <i>BOLD</i></b><br>
<b>This is a very long text <br> We are testing the HTML</b>